body{

    font-family: sans-serif;
    padding: 0;
    margin: 0;

}

#logo{

    float: left;
    font-weight: bold;
    position: relative;
    top: 3px;
    font-size: 130%;
    padding: 5px 10px;

}

#header{

    width: 100%;
    height: 40px;
    background-color: #EEEEEE;

}

#buttonContainer{

    width: 237px;
    margin: 0 auto;
    padding: 5px;

}

.toggleButton{

    border: 1px solid grey;    
    float: left;
    font-size: 90%;
    padding: 6px;
    border-right: none;
}

#html{

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

#output{

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid grey;

}

.active{
    
    background-color: #E8F2FF;
    
}

.highlighted{
    
    background-color: grey;
    
}

textarea{
    
    resize: none;
    border-top: none;
    border-bottom: none;
    border-color: grey;
    
}

.panel{
    
    float: left;  
    border-left: none;
    
}

iframe{
    
    border: none;
    
}

.hidden{
    
    display: none;  
    
}